exportPattern("^[[:alpha:]]+")
importFrom("plyr","ddply")
importFrom("mvtnorm","dmvnorm")
importFrom("pracma","isempty")
importFrom("pracma","inv")
importFrom("stats","var")
importFrom("gtools","permutations")
